<%= flash[:notice] %>

<%= form_tag main_search_path, method: "get" do %>
  <p>
  	<%= text_field_tag :search, params[:search] %>
  	<%= submit_tag "искать", name: nil %>
  </p>
<% end %>

<div id="cities">

</div>

<table>
  <tr>
  	<th>город</th>
    <th>сегодня</th>
    <th>завтра</th>
    <th>послезавтра</th>
    <th>через 2 дня</th>
    <th>через 3</th>
    <th>через 4</th>
    <th>через 5</th>
  </tr>
  <% @cities.each do |c| %>
    <tr>
      <td><%= c.name %></td>
      <%= c.min_t.zip(c.max_t).map { |t| "<td>" + t.join(" — ") + "</td>" }.join.html_safe %>
    </tr>
  <% end %>
</table>